---
interface Props {
  className?: string;
  id?: string;
  noPadding?: boolean;
}

const { className = "", id, noPadding = false } = Astro.props;
---

<section 
  id={id}
  class={`relative w-full overflow-hidden ${!noPadding ? "py-20 md:py-32" : ""} ${className}`}
>
  <div class="container mx-auto px-4 md:px-8">
    <slot />
  </div>
</section>
